<div id="content">
<form id="contact" action="" method="post">
	<h3>Quick Contact</h3>
	<h4>Contact us today, and get reply with in 24 hours!</h4>
	  <input placeholder="Your name" type="text" tabindex="1" />
	  <input placeholder="Your Email Address" type="email" tabindex="2" />
	  <textarea placeholder="Enter something funny." id="text" name="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; " tabindex="3"></textarea>
	  <button name="submit" type="submit" id="contact-submit" >Submit</button>
  </form>
</div>
