<head>
<title><%- title -%></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Simple Template #3 from simpletemplates.org" />
<meta name="keywords" content="simple #3, template, simpletemplates.org" />
<link rel="stylesheet" type="text/css" href="public/style.css" />
<link rel="stylesheet" type="text/css" href="public/contactus.css" />
<title><%= title %></title>
</head>
