<head>
	<title><%- title -%></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Simple Template #3 from simpletemplates.org" />
		<meta name="keywords" content="simple #3, template, simpletemplates.org" />
		<link rel="stylesheet" type="text/css" href="<%- cssFile -%>" />
<script type="text/javascript" src="/public/jquery.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
function getFacebookCommentCount(url, callback) {
    $.getJSON('https://graph.facebook.com/?ids='+url, function(data) {
        if(url && url != '#' && url != '') {
           if(!data['error']) {
              callback(data[url]);
           }
        }
     });
}

</script>

</head>
