<div id="menu">
	<ul>
		<li><a href="/"><img height="40" witdh="40" src="/public/image/poster/logo.png" /></a></li>
		<li><a href="/dangchieu">ĐANG CHIẾU</a></li>
		<li><a href="/sapchieu">SẮP CHIẾU</a></li>
		<li><a href="/dachieu">ĐÃ CHIẾU</a></li>
		<li><a href="/chat">RỦ RÊ XEM PHIM</a></li>
		<li><a href="/lienhe">LIÊN HỆ</a></li>
	</ul>
</div>
